/* CSS Reset based on Josh W Comeau and Step's own choices. Edited Dec'24 */
/* May '25 - styling for 'a' is now with :where */
/* June '25 - removed font-inherit for button, input */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  /* Prevent font size inflation  */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* / Smooth Scrollin' */
  scroll-behavior: smooth;

  /* Ensure default kerning/ligatures are enabled */
  text-rendering: optimizeLegibility;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  pointer-events: none;
  -webkit-touch-callout: none;
}

img::after {
  content: "The image didn’t load";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
ol {
  list-style: none;
}

:where(a),
:where(a):hover,
:where(a):visited,
:where(a):link,
:where(a):active {
  text-decoration: none;
  color: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}