html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--clr-bg-base);
  color: var(--clr-txt-strong);
  overflow-x: hidden;
}

* {
  transition-property: background-color, color, border-color, fill, stroke, box-shadow, -webkit-box-shadow, -webkit-text-fill-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  accent-color: var(--clr-brand);
  caret-color: var(--clr-txt-strong);

  &&:focus-visible {
    outline: 3px solid var(--clr-brand);
  }
}

main {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--space-8-12px);
  padding-block: var(--space-4-8px);
}


.explain_info {
  color: var(--clr-txt-weak);
}

button {
  border: none;
  padding: var(--space-8px);
  box-shadow: var(--shadow-elevation-1);
  border-radius: var(--border-radius-4px);

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      filter: drop-shadow(var(--drop-shadow-1));
      transform: translateY(-0.75px);
    }
  }

  &&:active {
    transform: translateY(0.75px);
  }

  &&:disabled {
    background-color: var(--clr-disabled);
    color: var(--clr-txt-weak);
  }
}

.primary_button {
  background-color: var(--clr-txt-strong);
  color: var(--clr-bg-raised);
}

.secondary_button {
  background-color: var(--clr-bg-overlay);
  color: var(--clr-txt-strong);
  border: 1px solid var(--clr-stroke-strong);
}

.link {
  text-decoration: underline;

  &&:hover {
    text-decoration: none;
  }
}

label>input[type="radio"] {
  margin-right: 0.5em;
}

.error_msg {
  color: var(--clr-error);
  animation: msg_entry 0.3s ease-out;
}

.success_msg {
  color: var(--clr-success);
  animation: msg_entry 0.3s ease-out;
}

span {
  color: var(--clr-txt-weak);
  font-style: italic;
}

@keyframes msg_entry {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.icon {
  color: var(--clr-txt-strong);
}

.icon-xs {
  width: 12px;
  height: 12px;
}

.icon-sm {
  width: 16px;
  height: 16px;
}

.icon-md {
  width: 24px;
  height: 24px;
}

.icon-lg {
  width: 32px;
  height: 32px;
}

.icon-xl {
  width: 48px;
  height: 48px;
}

/* Layout utility classes */

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack>*+* {
  margin-block-start: var(--space-12-16px);
}

