html,
body {
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* main grows vertically to fill available space */
  align-content: center;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}