/* COLORS - LIGHT MODE */

[data-theme="light"] {
--clr-brand:        oklch(0.8021 0.1649 80.96);
--clr-txt-strong:   oklch(0.0969 0      0);
--clr-txt-weak:     oklch(0.3257 0.0075 84.59);
--clr-stroke-strong:oklch(0.8239 0.0271 90.13);
--clr-stroke-weak:  oklch(0.9411 0.0035 67.78);
--clr-bg-base:      oklch(0.9761 0      0);
--clr-bg-raised:    oklch(0.9848 0.0013 106.42);
--clr-bg-overlay:   oklch(0.9769 0.0011 17.18);
--clr-disabled:     oklch(0.8637 0.0042 91.45);
--clr-success:      oklch(0.451  0.0912 163.34);
--clr-error:        oklch(0.4472 0.1612 29.84);
/* The 2 below must be tested to confirm if they work */
--clr-brand-opacity-75: oklch(0.8464 0.1577 86.1 / 0.75);
--clr-brand-opacity-25: oklch(0.8464 0.1577 86.1 / 0.25);
}

/* COLORS - DARK MODE */

[data-theme="dark"] {
--clr-brand:        oklch(0.8464 0.1577 86.1);
--clr-txt-strong:   oklch(0.9769 0.0011 17.18);
--clr-txt-weak:     oklch(0.8883 0.0042 91.45);
--clr-stroke-strong:oklch(0.5502 0.0314 88.81);
--clr-stroke-weak:  oklch(0.3765 0.0208 88.08);
--clr-bg-base:      oklch(0.1684 0      0);
--clr-bg-raised:    oklch(0.2174 0.0019 106.56);
--clr-bg-overlay:   oklch(0.2599 0.0018 106.53);
--clr-disabled:     oklch(0.4435 0.0089 80.7);
--clr-success:      oklch(0.7784 0.1766 159.68);
--clr-error:        oklch(0.72   0.1721 27.17);
/* The 2 below must be tested to confirm if they work */
--clr-brand-opacity-75: oklch(0.8464 0.1577 86.1 / 0.75);
--clr-brand-opacity-25: oklch(0.8464 0.1577 86.1 / 0.25);
}


/* SPACING  */
:root {
/* Static variables, then fluid ones */
/* Use fluid spacing for 1) Margins; 2) Padding */

--space-4px: 4px;
--space-8px: 8px;
--space-12px: 12px;
--space-16px: 16px;
--space-24px: 24px;
--space-32px: 32px;
--space-48px: 48px;
--space-64px: 64px;
--space-96px: 96px;

/* Fluid Spacing taken & edited from:
https://utopia.fyi/space/calculator?c=360,16,1.25,1240,16,1.333,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12*/

--space-4-8px: clamp(4px, 2.3636px + 0.4545vw, 8px);
--space-8-12px: clamp(8px, 6.3636px + 0.4545vw, 12px);
--space-12-16px: clamp(12px, 10.3636px + 0.4545vw, 16px);
--space-16-24px: clamp(16px, 12.7273px + 0.9091vw, 24px);
--space-24-32px: clamp(24px, 20.7273px + 0.9091vw, 32px);
--space-32-48px: clamp(32px, 25.4545px + 1.8182vw, 48px);
--space-48-64px: clamp(48px, 41.4545px + 1.8182vw, 64px);
--space-64-96px: clamp(64px, 50.9091px + 3.6364vw, 96px);
}

/* BORDER RADIUS, I.E. CORNERS */
:root{
--border-radius-2px: 2px;
--border-radius-4px: 4px;
--border-radius-8px: 8px;
--border-radius-12px: 12px;
--border-radius-16px: 16px;
}


/* SHADOWS */
/* 1st - "direct"
   2nd - "ambient" */
:root {

--shadow-elevation-1: 
0    2px 3px -1px hsla(0, 0%, 26%, 0.3),
0 -0.5px 1px      hsla(0, 0%, 10%, 0.2);

--shadow-elevation-2: 
0 3px 6px hsla(0, 0%, 16%, 0.3),
0 2px 4px hsla(0, 0%, 18%, 0.2);

--shadow-elevation-3: 
0 8px 16px hsla(0, 0%, 16%, 0.35),
0 3px  6px hsla(0, 0%, 12%, 0.2);

--shadow-elevation-4: 
0 8px 12px -1px hsla(0, 0%, 30%, 0.4),
0  2px 4px -1px hsla(0, 0%, 16%, 0.2);

--shadow-elevation-5: 
0 10px 16px -3px hsla(0, 0%, 30%, 0.4);

--drop-shadow-1: 0 1px 1px hsla(0, 0%, 10%, 0.2);

}