.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: var(--space-4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-bg-raised);
  color: var(--clr-txt-strong);

  transition-property: background-color, color, border-color, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  box-shadow: var(--shadow-elevation-1);
}

.header_button {
  background-color: transparent;
  border: none;
}

.header_panel {
  display: flex;
  gap: var(--space-12-16px);
  align-items: center;
}

.signout_form {
  display: flex;
  align-items: center;
}
