.header {
  width: 100%;
  padding-inline: var(--space-8-12px);
  padding-block: var(--space-4-8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-bg-raised);
  color: var(--clr-txt-strong);
  box-shadow: var(--shadow-elevation-1);
}

.header_button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.header_panel {
  display: flex;
  gap: var(--space-12-16px);
  align-items: center;
}

.signout_form {
  display: flex;
  align-items: center;
}
