.dashboard {
  width: min(97%, 680px);
  height: fit-content;
  padding: var(--space-16-24px);
  border-radius: var(--border-radius-12px);
  background-color: var(--clr-bg-raised);
  box-shadow: var(--shadow-elevation-2);
}

.dashboard_header {
  padding-inline: var(--space-8-12px);
}

.welcome_name {
  color: var(--clr-txt-weak);
}
