.main {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_container {
  width: min(80%, 240px);
  height: fit-content;
  padding: var(--space-16-24px);
  border-radius: var(--border-radius-8px);
  background-color: var(--clr-bg-raised);
  box-shadow: var(--shadow-elevation-2);
}

.signup_forgot_container {
  margin-top: var(--space-12-16px);
  display: flex;
  gap: var(--space-4-8px);
  justify-content: space-between;
}

.input_container {
  display: flex;
  gap: var(--space-4px);
  flex-direction: column;
}

.input {
  border: 1px solid var(--clr-stroke-strong);
  border-radius: var(--border-radius-4px);
  padding: var(--space-8px);
  background-color: var(--clr-bg-overlay);
  color: var(--clr-txt-strong);
}

/* Autofill won't let color/bg color changes, so went with solution in https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/*/
.input:autofill {
  -webkit-text-fill-color: var(--clr-txt-strong);
  box-shadow: 0 0 0 1000px var(--clr-bg-overlay) inset;
  -webkit-box-shadow: 0 0 0 1000px var(--clr-bg-overlay) inset;
}